<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h3>Your Profile</h3>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form_for @user, url: user_path(@user.id) do |f| %>
          <div class="form-group row">
            <%= f.label :email, class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.text_field :email, class: 'form-control here', readonly: true, disabled: true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :username, class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.text_field :username, class: 'form-control here' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password, class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.password_field :password, class: 'form-control here' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password_confirmation, class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.password_field :password_confirmation, class: 'form-control here' %>
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-primary topBtn">
            <i class="fa fa-sign-in"></i> Submit
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
