<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body class="fixed">
    <div class="content-wrapper">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= flash_message value %>
          </div>
        <% end %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
